@charset "utf-8";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block;}
body{max-width:1920px;margin:0 auto;font-family:'微软雅黑',"Microsoft YaHei";color:#333;}
ul,ol,dl{list-style:none;}
a,a:visited,a:link,a:hover{text-decoration:none;}
address,cite,dfn,em,b,i{font-style:normal;font-weight:normal;}
img,fieldset{border:0 none;vertical-align:middle;}
table{table-layout:fixed;border-collapse:collapse;border-spacing:0;}
table tr th,table tr td{vertical-align:middle;}
button{text-align:center;}
label,input{font-weight:normal;}
*, :after, :before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
:focus{outline:0;}
a, a:-webkit-any-link{color:#666;}
/*common*/
.clearfix:after, .clearft:after{clear:both;content:'';display:block;height:0;line-height:0;visibility:hidden;overflow:hidden;}
.clearfix, .clearft{zoom:1;*zoom:1}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.minw{float:none!important;max-width:1920px;min-width:960px;margin:0 auto;}
.maxw{float:none!important;max-width:640px;min-width:320px;margin:0 auto;}
.fixw{float:none!important;width:1200px;margin:0 auto;}
[class^="icon-"], [class*=" icon-"]{display:inline-block;color:#2D3237;vertical-align:middle;}
.arrow-up{display:inline-block;width:0;height:0;border-bottom:10px solid #2D3237;border-top:0 none;
    border-left:10px solid transparent;border-right:10px solid transparent;}
.overlay{position:absolute;z-index:10;left:0;top:0;width:100%;height:100%;color:#FFF;background:rgba(0,0,0,0.3);
    background: transparent\9;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D000000,endColorstr=#3D000000);}
.overbox{position:absolute;z-index:10;left:0;top:0;right:0;bottom:0;}
.nobd{border:0 none;}
.linka, a.linka{color:#2277E6;}
.linka:hover, a.linka:hover{text-decoration:underline;}
.markok{font-weight:bold;color:#5555EC;}
.markun{font-weight:bold;color:#FF3737;}
.marktxt{font-weight:bold;color:#2277E6;}
.allw{width:100%;}
.allh{height:100%;}
/*loading*/
.loadanim{position:fixed;z-index:100;left:0;top:0;right:0;bottom:0;font-size:0;text-align:center;background:#FFF no-repeat center;}
.loadanim>span{display:inline-block;vertical-align:middle;}
.loadanim:after{content:'';display:inline-block;width:0;height:100%;opacity:0;vertical-align:middle;}
@-webkit-keyframes turn-circle {
    0% {-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes turn-circle {
    0% {-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
.loader-spinner{display:inline-block;position:relative;width:40px;height:40px;border: 3px solid #2277E6;
    border-right-color: transparent;border-radius:100%;background:#FFF;overflow:hidden;
    -webkit-animation: turn-circle 1000ms infinite linear;-moz-animation: turn-circle 1000ms infinite linear;
    animation: turn-circle 1000ms infinite linear;
}
/*开启硬件加速*/
.speedup{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);}
/*垂直居中*/
.center-h{font-size:0;text-align:center;}
.center-h.allh{height:100%;}
.center-h>span{display:inline-block;vertical-align:middle;}
.center-h:after{content:'';display:inline-block;width:0;height:100%;opacity:0;vertical-align:middle;}
.center-h>.center-con{display:inline-block;font-size:14px;line-height:18px;vertical-align:middle;}
/*sl*/
.sl-hd,.sl-ft{position:relative;z-index:999;height:45px;line-height:45px;background:#FFF;}
.sl-hd{background:#FFF;border-bottom:1px solid #EEE;}
.slhd-con,.slft-con{position:relative;height:100%;}
.sl-hd.nav-fix,.sl-ft.nav-fix{position:fixed;left:0;width:100%;}
.sl-hd.nav-fix{top:0;}
.sl-ft.nav-fix{bottom:0;}
.sl-bd{position:relative;}
.sl-hd.nav-fix + .sl-bd{padding-top:45px;}
.nopadb,.sl-bd.nopadb{padding-bottom:0;}
.slhd-title{margin:0 50px;font-size:18px;line-height:46px;color:#333;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.slhd-back{position:absolute;left:0;top:0;line-height:42px;padding:0 10px;height:100%;color:#000;}
.slhd-back i{font-size:24px;color:#000;line-height:1;}
.slhd-back:focus,.slhd-back:active{background:rgba(0,0,0,.2);}
.sl-hd.hd-style1{height:55px;line-height:55px;}
.slhide{display:none;}
.slpadd-in{padding:12px;}
.slpadd-lf{padding:0 12px;}
.slpadd-tb{padding:12px 0;}
.slmarg-in{margin:10px;}
.slmarg-lf{margin:0 10px;}
.slmarg-tb{margin:10px 0;}
.allwh{width:100%;height:100%;}
.nopadd{padding:0;}
.nopadtb{padding-top:0;;padding-bottom:0;}
/*btn*/
.slbtn{display:inline-block;padding:5px 15px;line-height:1;text-align:center;color:#2277E6;
    border:1px solid #2277E6;background:#E2E2E2;border-radius:2px;cursor:pointer;}
.slbtn.no-radius{border-radius:0;}
.slbtn:hover{color:#FFF;background:#2277E6;}
.slbtn:focus,.slbtn:active{color:#FFF;background:#2277DA;border-color:#2277DA;}
.slbtn.btndef{border:1px solid #C2C2C2;background:#DDD;}
.slbtn.btndef:hover{color:#2277E6;background:#D2D2D2;}
.slbtn.btndef:focus,.slbtn.btndef:active{color:#2277E6;background:#C2C2C2;border-color:#C2C2C2;}
.sl-input,.sl-select{height:32px;line-height:30px;padding:0 10px;border:1px solid #D2D2D2;
    -webkit-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.sl-textarea{padding:5px 10px;min-height:50px;line-height:24px;}
.sl-input:focus,.sl-select:focus,.sl-textarea:focus{border-color:#2277E6;}
.sl-input.size1,.sl-select.size1{width:200px;}
.sl-input.allw, .sl-select.allw{width:100%;}
.sl-input.sizemin,.sl-select.sizemin{min-width:200px;}
.inline-input .sl-input-frame{display:inline-block;}
.sl-input-frame{position:relative;}
.sl-input-frame>i{position:absolute;left:8px;top:50%;margin-top:-8px;font-size:16px;cursor:pointer;}
.sl-input-frame>input + i{left:auto;right:8px;}
.sl-input-frame>input{padding-right:28px!important;}
.sl-input-frame>input:focus + i{color:#2277E6;}
.sl-input-frame>i + input{padding-left:30px;}
.noscrollbar::-webkit-scrollbar{width:0;height:0;background-color:#FFF;}
.noscrollbar::-webkit-scrollbar-track{background-color:#FFF;}
.noscrollbar::-webkit-scrollbar-thumb{background-color:#FFF;}
.over-scrollbar{position:absolute;z-index:1000;width:100%;height:8px;left:0;bottom:0;background:#FFF;}
/*search*/
.sl-search{position:relative;padding-right:80px;background:#FFF;}
.sl-search .search-ico{position:absolute;left:0;top:10px;width:38px;height:20px;font-size:28px;line-height:20px;
    color:#2277E6;text-align:center;border-right:1px solid #C2C2C2;}
.sl-search .search-input{display:block;width:100%;padding:0 5px 0 45px;height:40px;font-size:14px;line-height:40px;
    border:2px solid #2277E6;border-right:0 none;border-radius:0!important;}
.sl-search .search-input:focus{border-color:#2277CA;}
.sl-search .search-btn{position:absolute;right:0;top:0;width:80px;height:40px;font-size:16px;line-height:40px;
    text-align:center;white-space:nowrap;color:#FFF;background:#2277E6;cursor:pointer;
    font-family:Arial, sans-serif;}
.sl-search .search-btn:focus,.sl-search .search-btn:active{color:#FFF;background:#2277CA;border-color:#2277CA;}
/*返回顶部 start*/
.sl-ft-aside{position:relative;height:0;}
.sl-aside-fix{position:fixed;z-index:1000;bottom:30px;right:10px;width:38px;}
.gotop{display:block;position:absolute;bottom:0;width:38px;height:38px;line-height:35px;
    text-align:center;background:rgba(255,255,255,0.8);border-radius:100%;border:1px solid #888;
    -webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;cursor:pointer;}
.gotop .gotop-hd{display:block;width:0;margin:0 auto;border-bottom:8px solid #FFF;border-top:0 none;
    border-left:6px solid transparent;border-right:6px solid transparent;}
.gotop .gotop-tail{display:block;width:4px;height:8px;margin:0 auto;background:#FFF;}
.gotop i{color:#888;font-size:24px;line-height:1;}
.gotop.goout{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;bottom:-50px;-webkit-transform:none;transform:none;}
.gotop.gohide{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
/*sidepanel*/
.slidepanel{position:fixed;background:#FFF;-webkit-transform:translateZ(0);transform:translateZ(0);
    -webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.slide-v{top:0;z-index:2000;width:300px;height:100%;max-width:90%;overflow:hidden;}
.slide-right{right:0;-webkit-transform:translate(100%,0);transform:translate(100%,0);}
.slide-right.open{right:0;-webkit-transform:translate(0,0);transform:translate(0,0);}
.slideover.overlay{z-index:1900;background:rgba(0,0,0,0.6);}
/*鼠标悬浮效果*/
.ckeffect{-webkit-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.ckeffect:hover{background:#FAFAFA;border-color:#FAFAFA;}
.ckeffect:focus,.ckeffect:active{background:#E2E2E2;border-color:#E2E2E2;}
[class^="hvr-"], [class*=" hvr-"]{position:relative;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);}
[class^="hvr-"]:before, [class*=" hvr-"]:before{content:"";position:absolute;z-index:-1;left:0;top:0;right:0;bottom:0;
    -webkit-transition:transform 300ms ease-out;transition:transform 300ms ease-out;}
.hvr-scat-out-h{background:transparent;}
.hvr-scat-out-h:before{background:#F2F2F2;
    -webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:50%;transform-origin:50%;}
.hvr-scat-out-h:hover:before,.hvr-scat-out-h:focus:before,.hvr-scat-out-h:active:before{
    -webkit-transform:scaleX(1);transform:scaleX(1);
}
.hvr-scat-in-h{background:#F2F2F2;}
.hvr-scat-in-h:before{background:#FFF;
    -webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:50%;transform-origin:50%;}
.hvr-scat-in-h:hover:before,.hvr-scat-in-h:focus:before,.hvr-scat-in-h:active:before{
    -webkit-transform:scaleX(0);transform:scaleX(0);
}
.hvr-circle-out{background:transparent;overflow:hidden;}
.hvr-circle-out:before{background:#F2F2F2;
    -webkit-transform:scale(0);transform:scale(0);border-radius:100%;}
.hvr-circle-out:hover:before,.hvr-circle-out:focus:before,.hvr-circle-out:active:before{
    -webkit-transform:scale(2); transform:scale(2);
}
.hvr-circle-in{background:#F2F2F2;overflow:hidden;}
.hvr-circle-in:before{background:#FFF;
    -webkit-transform:scale(2);transform:scale(2);border-radius:100%;}
.hvr-circle-in:hover:before,.hvr-circle-in:focus:before,.hvr-circle-in:active:before{
    -webkit-transform:scale(0); transform:scale(0);
}
.hvr-rect-out{background:transparent;overflow:hidden;}
.hvr-rect-out:before{background:#F2F2F2;-webkit-transform:scale(0);transform:scale(0);}
.hvr-rect-out:hover:before,.hvr-rect-out:focus:before,.hvr-rect-out:active:before{
    -webkit-transform:scale(2);transform:scale(2);
}
.hvr-rect-in{background:#F2F2F2;overflow:hidden;}
.hvr-rect-in:before{background:#FFF;-webkit-transform:scale(2);transform:scale(2);}
.hvr-rect-in:hover:before,.hvr-rect-in:focus:before,.hvr-rect-in:active:before{
    -webkit-transform:scale(0); transform:scale(0);
}
/*layer自定义*/
.layui-layer{max-height:80%!important;}
.layui-layer-page .layui-layer-btn{border-top:1px solid #E2E2E2;}
.layui-layer .layui-layer-btn .layui-layer-btn0{border-color:#8C7551;background:#8C7551;}
/*table 样式自定义*/
.sltable img{max-width:100%;}
.sltable.nobdlr tr td{border-left-color:transparent;border-right-color:transparent;}
.sltable{width:100%!important;table-layout:fixed;}
.sltable th,.table td{white-space:normal;word-break:break-all;}
.bootstrap-table thead th{color:#FFF;background:#8C7551;vertical-align:top!important;}
.bootstrap-table tbody td{border-left-color:#8C7551;border-right-color:#8C7551;}
.bootstrap-table .fixed-table-container{border-color:#8C7551;border-radius:0;}
.bootstrap-table .fixed-table-body{border-bottom:1px solid #8C7551;}
.bootstrap-table thead>tr>th{border-radius:0;}
.bootstrap-table .fixed-table-container thead th:first-child{border-radius:0;}
.bootstrap-table thead th .sortable{padding-right:16px!important;background-position:right 11px!important;}
.bootstrap-table .bs-checkbox{vertical-align:middle;}
.bs-inform{margin-bottom:10px;padding:10px;}
.bstable-tool{margin-bottom:10px;}
.bstable-tool .btn{margin-right:15px;}
.bootstrap-table .fixed-table-pagination{padding:0 10px;}
.bootstrap-table .fixed-table-pagination a{color:#666;}
.bootstrap-table .fixed-table-pagination .active a{color:#FFF;background:#8C7551;border-color:#8C7551;}
.bootstrap-table tbody tr.detail-view td{background:#ece2cc;border-bottom:1px solid #8C7551;}
.detail-icon{font-size:20px;line-height:1;font-weight:bold;}
/*Datepicker*/
.datepicker{padding:0;background:#FBFBFB;border-radius:0;box-shadow:0 0 10px #666;}
.datepicker tbody tr td{border:1px solid #D2D2D2;}
.datepicker tr th,.datepicker tr td{border-radius:0;}
.datepicker .table-condensed{margin-left:-1px;}
.datepicker .table-condensed thead tr th{padding:10px;font-size:16px;font-weight:normal;}
.datepicker .table-condensed tbody tr th,.table-condensed tbody tr td{padding:8px 10px;}
.datepicker .table-condensed th.dow{padding:5px 10px;border-top:1px solid #DDD;}
.datepicker .day.old,.datepicker .day.new{color:#B7B7B7;background:#EEE;}
.datepicker .table-condensed td.day.active,.datepicker .table-condensed td.day:hover,
.datepicker .table-condensed td.day.active:hover{color:#FFF;background:#8C7551;}
.datepicker .table-condensed td.day.disabled:hover{color:#B7B7B7;background:#EEE;}
.datepicker table tr td span{height:40px;line-height:40px;border-radius:0;}
.datepicker table tr td span:hover.active.active,
.datepicker table tr td span.active.active{background:#8C7551;}
/*操作按钮*/
.opbtn,a.opbtn{padding:3px 10px;font-size:13px;color:#FFF;background:#8C7551;border-radius:15px;cursor:pointer;}
.opbtn:hover{color:#333;}
.opbtn.invalid,.opbtn.invalid:hover{color:#AAA;background:#E2E2E2;border-color:#E2E2E2;text-decoration:none;cursor:default;}
/*swbox切换开关*/
.swbox{display:inline-block;position:relative;width:80px;height:30px;text-align:center;border-radius:18px;vertical-align:middle;cursor:pointer;overflow:hidden;}
.swbox-checked,.swbox input[type=checkbox],.swbox input[type=radio]{position:absolute;top:0;left:0;opacity:0;visibility:hidden;}
.swbox-txt{display:block;position:relative;height:inherit;font-size:14px;color:#FFF;background:#ed5b49;border:1px solid #d2402e;border-radius:inherit;}
.swbox-txt:before,.swbox-txt:after{position:absolute;top:50%;margin-top:-.5em;line-height:1;-webkit-transition:inherit;transition:inherit;}
.swbox-txt:before{content:attr(data-off);right:10px;visibility:visible;}
.swbox-txt:after{content:attr(data-on);left:10px;color:#FFF;opacity:0;visibility:hidden;}
.swbox-tog{position:absolute;left:1px;top:1px;height:28px;width:28px;font-size:12px;line-height:1;background:linear-gradient(#EEE, #FAFAFA);border-radius:50%;}
.swbox-tog:before{content: "|||";display:inline-block;height:50%;margin-top:25%;overflow:hidden;color:#999;letter-spacing:1px;vertical-align:top;}
.swbox-txt,.swbox-tog{-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.swbox input[type=checkbox]:checked ~ .swbox-txt,.swbox input[type=radio]:checked ~ .swbox-txt,
.swbox-checked:checked ~ .swbox-txt, .swbox.on .swbox-txt{background-color:#00af2c;border:1px solid #068506;}
.swbox input[type=checkbox]:checked ~ .swbox-txt:before,.swbox input[type=radio]:checked ~ .swbox-txt:before,
.swbox-checked:checked ~ .swbox-txt:before, .swbox.on .swbox-txt:before{opacity:0;visibility:hidden;}
.swbox input[type=checkbox]:checked ~ .swbox-txt:after,.swbox input[type=radio]:checked ~ .swbox-txt:after,
.swbox-checked:checked ~ .swbox-txt:after, .swbox.on .swbox-txt:after{opacity:1;visibility:visible;}
.swbox input[type=checkbox]:checked ~ .swbox-tog,.swbox input[type=radio]:checked ~ .swbox-tog,
.swbox-checked:checked ~ .swbox-tog, .swbox.on .swbox-tog{left:100%;margin-left:-29px;}
.swbox.circle-style .swbox-tog:before{content:"";width:50%;height:50%;margin-top:25%;background:linear-gradient(#DEDEDE,#CACACA);border-radius:50%;}
.swbox.swbox-mini{width:70px;height:22px;border-radius:12px;}
.swbox.swbox-mini .swbox-txt{font-size:12px;}
.swbox.swbox-mini .swbox-tog{height:20px;width:20px;}
.swbox.swbox-mini input[type=checkbox]:checked ~ .swbox-tog,.swbox.swbox-mini input[type=radio]:checked ~ .swbox-tog,
.swbox.swbox-mini .swbox-checked:checked ~ .swbox-tog, .swbox.swbox-mini.on .swbox-tog{margin-left:-21px;}
.swbox.no-radius, .swbox.no-radius .swbox-tog{border-radius:0;}
/*loadmore*/
.loadmore-tip{font-size:12px;color:#868686;text-align:center;}
.loadmore-tip img{height:16px;}
.loadmore-tip .tip-finish,.loadmore-tip.finish .tip-loading{display:none;}
.loadmore-tip.finish .tip-finish{display:block;}

